<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de tareas</h1>
    <%tasks.forEach(function(task){ %>

        <p>
        
        <b>Tarea: <a href="/tasks/detail/<%=task.id %>"></b><%= task.title%>
        </a>
        <br>
        <b>Descripcion: </b><%= task.description%>
        <br>
        <b>Estado: </b><%= task.done == 0? "Pendiente":"Realizada" %>
        <br>
        </p>
        
    <% }) %>

    <a href="/tasks/create/"><button> New Task</button></a>

</body>
</html>